<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Blog</title>
    <!-- Link to Bootstrap CSS -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Simple Blog</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-4">
      <div class="row">
        <!-- Blog Posts -->

        <div class="col-lg-8">
          {% for blog in blogs %} {% for user in users %}
          <h1 class="mb-4">{{blog[1]}}</h1>
          <!-- Blog Post 1 -->
          <div class="card mb-4">
            {{blog[7]}}
            <div class="card-body">
              <h5 class="card-title">Author: {{user[1]}}</h5>
              <p class="card-text">Publish Date: {{blog[2]}}</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
          {% endfor %} {% endfor %}
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Categories</h5>
              <ul class="list-group">
                {% for cat in cats%}
                <li class="list-group-item">{{cat[1]}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title">Recent Posts</h5>

              <ul class="list-group">
                {% for blog in blogs %}
                <li class="list-group-item">{{blog[1]}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Link to Bootstrap JS and jQuery -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
